.tw-card-like{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-header-card-like{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-info-card-like{
    display: flex;
    flex-direction: column;
}

.tw-avatar-card-like{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-button-card-like{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.tw-button-card-like.is-following{
    border: 1px solid red;
}

.tw-button-card-like:hover{
    background-color: #09f;
}

.tw-button-card-like.is-following:hover{
    background-color: red;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 8px;
}